/* ############################################ */
/* Base                                         */

html {
	box-sizing: border-box;
    width:100%;
        font-family: Arial,Helvetica,sans-serif;

}

*, *:before, *:after {
	margin:0;
	padding:0;
	box-sizing: inherit;
}

a{outline: none; cursor:pointer; color:red; text-decoration:none;}

body {
    
    max-width: 860px;
    margin:0 auto;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    padding:0 1%;
    outline: 0 none;
    vertical-align: baseline;

    margin-top:2%;
}
table{border:1px solid #dadada; }
td{padding:1%;}

    